@model IEnumerable<@Chevaleresk.Models.Joueurs >

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.niveau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mdp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estAlchimiste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.niveau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mdp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estAlchimiste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idJoueur }) |
            @Html.ActionLink("Details", "Details", new { id=item.idJoueur }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idJoueur })
        </td>
    </tr>
}

</table>
